@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <div class="pl-3">
            <form method="POST">
                <p>Categories</p>
                @for (int i = 1; i < Model.Categories.Count(); i++)
                {
                    <div class="form-check form-switch pl-5">
                        <input class="form-check-input" type="checkbox" id="@Model.Categories.ElementAt(i).ToString()"
                               value="@Model.Categories.ElementAt(i)" name="SelectedCategories"
                               checked="@Model.SelectedCategoryFlags.HasFlag(Model.Categories.ElementAt(i))">
                        <label class="form-check-label" for="@Model.Categories.ElementAt(i).ToString()">@Model.Categories.ElementAt(i).ValueToString()</label>
                    </div>
                }
                <p for="preparingTimeLimit" class="form-label pt-5">Preparing time limit in mins:</p>
                <div>
                    <input type="range" value="@Model.PreparingTimeLimitInMinutes" min="0" max="200" step="5" oninput="this.nextElementSibling.value = this.value"
                           name="PreparingTimeLimitInMinutes">
                    <output for="PreparingTimeLimitInMinutes" onforminput="value = PreparingTimeLimitInMinutes.valueAsNumber">
                        @Model.PreparingTimeLimitInMinutes
                    </output>
                </div>
                <p for="cookingTimeLimit" class="form-label pt-5">Cooking time limit in mins:</p>
                <div>
                    <input type="range" value="@Model.CookingTimeLimitInMinutes" min="0" max="200" step="5" oninput="this.nextElementSibling.value = this.value"
                           name="CookingTimeLimitInMinutes">
                    <output for="CookingTimeLimitInMinutes" onforminput="value = CookingTimeLimitInMinutes.valueAsNumber">
                        @Model.CookingTimeLimitInMinutes
                    </output>
                </div>
                <input type="submit" value="Search" />
            </form>
        </div>
    </div>
    <div class="col-md-9">
        @if (Model.RecipePreviews != null)
        {
            <div class="row">

                @foreach (var recipe in Model.RecipePreviews.Results)
                {
                    <div class="col-lg-4 mb-3 d-flex">
                        <div class="card w-100">
                            <div class="card-header text-center ">
                                <a class="text-uppercase one-row b-5" asp-page="Recipe" asp-route-id="@recipe.Id">@recipe.Name</a>
                                <h6>Preparation time:  @recipe.PreparationTime</h6>
                                <h6>Cooking time:  @recipe.CookingTime</h6>
                            </div>
                            <div class="card-body p-3 d-flex align-items-center">
                                <a asp-page="Recipe" asp-route-id="@recipe.Id">
                                    <img class="img-fluid" src="images//@(recipe.Id).PNG" alt="@recipe.Name" title="@recipe.Name" />
                                </a>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <vc:pager page-size="Model.RecipePreviews.PageSize"
                      page-number="Model.RecipePreviews.PageNumber"
                      all-results-count="Model.RecipePreviews.AllResultsCount"
                      pages-to-show="3">
            </vc:pager>
        }
    </div>
</div>